LF_DB_NAME=wordflash
LF_DB_USER=lf_user
LF_DB_PASSWORD=change_me
JWT_SECRET=change_me
SPRING_MAIL_HOST=smtp.yandex.ru
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=your_mail@example.com
SPRING_MAIL_PASSWORD=your_mail_app_password
SUPPORT_EMAIL=your_mail@example.com
APP_CORS_ORIGINS=https://rps-battles.com,https://www.rps-battles.com
APP_BASE_URL=https://rps-battles.com/languageflash
OAUTH_GOOGLE_CLIENT_ID=your_google_client_id
OAUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret
