<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="adminMenu" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-language me-2"></i>
            Language Flash - Админка
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" th:classappend="${#httpServletRequest.requestURI == '/admin/users' ? 'active fw-bold' : ''}" th:href="@{/admin/users}">
                        <i class="fas fa-users me-1"></i> Пользователи
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:classappend="${#httpServletRequest.requestURI == '/admin/languages' ? 'active fw-bold' : ''}" th:href="@{/admin/languages}">
                        <i class="fas fa-globe me-1"></i> Языки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:classappend="${#httpServletRequest.requestURI == '/admin/words' ? 'active fw-bold' : ''}" th:href="@{/admin/words}">
                        <i class="fas fa-book me-1"></i> Слова
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>