<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="adminMenu" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Language Flash - Админка</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI == '/admin/users' ? 'active' : ''}" th:href="@{/admin/users}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI == '/admin/languages' ? 'active' : ''}" th:href="@{/admin/languages}">Языки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI == '/admin/dictionaries' ? 'active' : ''}" th:href="@{/admin/dictionaries}">Словари</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>