<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer" class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-white">Language Flash</h5>
                <p class="text-light">Изучайте языки легко и быстро с помощью карточек и флеш-запоминания.</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-white">Навигация</h5>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/about">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/method">О методе</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/texts">Тексты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="text-light mb-0">© 2025 Language Flash. Все права защищены.</p>
        </div>
    </div>
</footer>
</body>
</html>